# The Site Configuration
# Tramesonet - v2.2 (Name Correction)

theme: jekyll-theme-chirpy
lang: tr-TR
timezone: Europe/Istanbul

# --- KİMLİK AYARLARI ---
title: Tramesonet
tagline: Kaosu Dinlemek
description: Atmosferin Sesi

# --- ADRES AYARI ---
url: 'https://tumaytulgar.github.io'

# --- SOSYAL MEDYA ---
github:
  username: TumayTulgar  # Burası İngilizce kalmalı (Link için)

social:
  name: Tümay Tulgar     # BURAYI DÜZELTTİK: Sitede görünecek isim (Ü harfi ile)
  email: tumaytulgar@gmail.com
  links:
    - https://github.com/TumayTulgar

# --- SİSTEM AYARLARI ---
paginate: 10
baseurl: ""

# --- EKLENTİLER ---
plugins:
  - jekyll-paginate
  - jekyll-redirect-from
  - jekyll-seo-tag
  - jekyll-archives
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-include-cache

# --- TEMA ÖZELLİKLERİ ---
toc: true
pwa:
  enabled: true

kramdown:
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    block:
      line_numbers: true
      start_line: 1

collections:
  tabs:
    output: true
    sort_by: order

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: post
      comments: true
      toc: true
      permalink: /posts/:title/
  - scope:
      path: _drafts
    values:
      comments: false
  - scope:
      path: ""
      type: tabs
    values:
      layout: page
      permalink: /:title/

sass:
  style: compressed

exclude:
  - "*.gem"
  - "*.gemspec"
  - docs
  - tools
  - README.md
  - LICENSE
  - "*.config.js"
  - "package*.json"

# --- ARŞİV MOTORU ---
jekyll-archives:
  enabled: [categories, tags]
  layouts:
    category: category
    tag: tag
  permalinks:
    tag: /tags/:name/
    category: /categories/:name/
