# The Site Configuration
# Tramesonet - v1.6 (Block Style Fix)

# Import the theme
theme: jekyll-theme-chirpy

# Language & Timezone
lang: tr-TR
timezone: Europe/Istanbul

# SEO Settings
title: Tramesonet
tagline: Kaosu Dinlemek

# DİKKAT: >- işareti "Aşağıdaki metne karışma" demektir.
description: >-
  Atmosferin Sesi: Şiddetli Bir Hava Tahmini Manifestosu

# URL Settings
url: 'https://tumaytulgar.github.io'

# Social & Author Settings
github:
  username: TumayTulgar

social:
  name: Tümay Tulgar
  email: tumaytulgar@gmail.com
  links:
    - https://github.com/TumayTulgar

# Build Settings
paginate: 10
baseurl: ""

# Theme Features
toc: true
pwa:
  enabled: true

# Technical Settings (Do not change below)
kramdown:
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    block:
      line_numbers: true
      start_line: 1

collections:
  tabs:
    output: true
    sort_by: order

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: post
      comments: true
      toc: true
      permalink: /posts/:title/
  - scope:
      path: _drafts
    values:
      comments: false
  - scope:
      path: ""
      type: tabs
    values:
      layout: page
      permalink: /:title/

sass:
  style: compressed

compress_html:
  clippings: all
  comments: all
  endings: all
  profile: false
  blanklines: false
  ignore:
    envs: [development]

exclude:
  - "*.gem"
  - "*.gemspec"
  - docs
  - tools
  - README.md
  - LICENSE
  - "*.config.js"
  - "package*.json"
