# The Site Configuration
# Tramesonet - v1.9 (Plugins Restored)

theme: jekyll-theme-chirpy
lang: tr-TR
timezone: Europe/Istanbul

# Site Kimliği
title: Tramesonet
tagline: Kaosu Dinlemek
description: Atmosferin Sesi

url: 'https://tumaytulgar.github.io'

github:
  username: TumayTulgar

social:
  name: Tumay Tulgar
  email: tumaytulgar@gmail.com
  links:
    - https://github.com/TumayTulgar

# Build Settings
paginate: 10
baseurl: ""

# --- İŞTE EKSİK OLAN KRİTİK LİSTE BURASI ---
plugins:
  - jekyll-paginate
  - jekyll-redirect-from
  - jekyll-seo-tag
  - jekyll-archives
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-include-cache

# Tema Özellikleri
toc: true
pwa:
  enabled: true

# Teknik Ayarlar
kramdown:
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    block:
      line_numbers: true
      start_line: 1

collections:
  tabs:
    output: true
    sort_by: order

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: post
      comments: true
      toc: true
      permalink: /posts/:title/
  - scope:
      path: _drafts
    values:
      comments: false
  - scope:
      path: ""
      type: tabs
    values:
      layout: page
      permalink: /:title/

sass:
  style: compressed

exclude:
  - "*.gem"
  - "*.gemspec"
  - docs
  - tools
  - README.md
  - LICENSE
  - "*.config.js"
  - "package*.json"

# Arşiv Motoru Ayarları
jekyll-archives:
  enabled: [categories, tags]
  layouts:
    category: category
    tag: tag
  permalinks:
    tag: /tags/:name/
    category: /categories/:name/
