theme: jekyll-theme-chirpy
lang: tr-TR
timezone: Europe/Istanbul

# --- KİMLİK ---
title: Tramesonet
tagline: Kaosu Dinlemek
description: 'Atmosferin Sesi - Şiddetli Bir Hava Tahmini Manifestosu'
url: 'https://tumaytulgar.github.io'

github:
  username: TumayTulgar

social:
  name: Tümay Tulgar
  email: tumaytulgar@gmail.com
  links:
    - https://github.com/TumayTulgar

# --- SİSTEM ---
paginate: 10
baseurl: ""

# --- EKLENTİLERİ SİLDİK (Hata buradaydı) ---
# plugins kısmı bilerek boş bırakıldı.

toc: true
pwa:
  enabled: true

kramdown:
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    block:
      line_numbers: true
      start_line: 1

collections:
  tabs:
    output: true
    sort_by: order

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: post
      comments: true
      toc: true
      permalink: /posts/:title/
  - scope:
      path: _drafts
    values:
      comments: false
  - scope:
      path: ""
      type: tabs
    values:
      layout: page
      permalink: /:title/

sass:
  style: compressed

exclude:
  - "*.gem"
  - "*.gemspec"
  - docs
  - tools
  - README.md
  - LICENSE
  - "*.config.js"
  - "package*.json"
