# The Site Configuration
# Tramesonet - v5.0 (Plugins Optimized)

# Import the theme
theme: jekyll-theme-chirpy

# Dil ve Zaman
lang: tr-TR
timezone: Europe/Istanbul

# --- KİMLİK AYARLARI ---
title: Tramesonet
tagline: Kaosu Dinlemek
description: 'Atmosferin Sesi - Şiddetli Bir Hava Tahmini Manifestosu'

# --- ADRES VE YAZAR ---
url: 'https://tumaytulgar.github.io'

github:
  username: TumayTulgar

social:
  name: Tümay Tulgar    # İsim doğrusu: Ü harfi ile
  email: tumaytulgar@gmail.com
  links:
    - https://github.com/TumayTulgar

# --- SİSTEM AYARLARI ---
paginate: 10
baseurl: ""

# --- KRİTİK EKLENTİ LİSTESİ ---
# Hata veren 'redirect-from' çıkarıldı.
# 'archives' eklendi -> Artık etiket sayfaları oluşacak ve Test geçecek.
plugins:
  - jekyll-paginate
  - jekyll-seo-tag
  - jekyll-archives
  - jekyll-sitemap
  - jekyll-feed

# --- DİĞER AYARLAR ---
toc: true
pwa:
  enabled: true

kramdown:
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    block:
      line_numbers: true
      start_line: 1

collections:
  tabs:
    output: true
    sort_by: order

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: post
      comments: true
      toc: true
      permalink: /posts/:title/
  - scope:
      path: _drafts
    values:
      comments: false
  - scope:
      path: ""
      type: tabs
    values:
      layout: page
      permalink: /:title/

sass:
  style: compressed

exclude:
  - "*.gem"
  - "*.gemspec"
  - docs
  - tools
  - README.md
  - LICENSE
  - purgecss.js
  - "*.config.js"
  - "package*.json"

# --- ARŞİV MOTORU AYARLARI ---
jekyll-archives:
  enabled: [categories, tags]
  layouts:
    category: category
    tag: tag
  permalinks:
    tag: /tags/:name/
    category: /categories/:name/
